:root {
  --color-blue: #34547a;
  --color-gray: #eeeff1;
  --txt-gray: #727272;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

html {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.py-auto {
  padding-top: auto;
  padding-bottom: auto;
}

.py-100px {
  padding-top: 100px;
  padding-bottom: 100px;
}

.hidden {
  display: none !important;
}
