:root {
  --bg-color: #f5f5f5;
  --bg-dark-gray: #e3ebf1;
  --bg-light-gray: #f7f9fa;
  --color-green: #17a550;
  --black-color: #1d2f38;
  --ff-bitter: "Bitter";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border-color: var(--bg-color);
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

html {
  font-family: "Raleway", "sans-serif";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.container {
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.mgx-auto {
  margin-right: auto;
  margin-left: auto;
}

.mgy-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.btn {
  font-family: inherit;
}

.hidden {
  display: none !important;
}
