:root {
  --color-main-regular: #323264;
  --color-main-alt: #46466e;
  --color-main-soft: #686887;
  --color-accent: #f0145a;
  --color-active-regular: #24a3ff;
  --color-active-hover: #0085ff;
  --color-active-active: #006ccf;
  --color-grey-bg: #f5f5fa;
  --color-grey-bg-alt: #ededf7;
  --color-grey-text: #b3b3ba;
  --color-grey-separator: #e6e6f0;
  --color-gradient-regular: linear-gradient(
    128.63deg,
    #323264 0%,
    #323264 73.96%,
    #a54b5f 100%
  );
  --color-gradient-soft: linear-gradient(
    42.01deg,
    #323264 14.33%,
    #323264 51.39%,
    #7a425e 87.53%
  );
  --color-gradient-red: linear-gradient(
    323.35deg,
    #f0145a 6.7%,
    #693264 70.36%
  );
  --colr-gradient-supersoft: linear-gradient(
    323.35deg,
    #f0145a 6.7%,
    #693264 70.36%
  );
  --color-gradient-red-txt: linear-gradient(
    90.13deg,
    #f0145a 0.84%,
    #ef8080 99.96%
  );
  --color-black: #000000;
  --color-white: #FFFFFF;
  --txt-bold: 700;
  --txt-regular: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", "sans-serif";
  font-weight: var(--txt-regular);
  font-size: 16px;
  line-height: 26px;
}

h1 {
  font-size: 38px;
  line-height: 46px;
  color: var(--color-gradient-red-txt);
}

h2 {
  font-size: 30px;
  line-height: 37px;
  color: var(--color-main-regular);
}

h3 {
  font-size: 22px;
  line-height: 27px;
  color: var(--color-main-regular);
}

h4 {
  font-size: 16px;
  line-height: 20px;
  color: var(--color-main-regular);
}

p {
  color: var(--color-black);
}

ul {
  list-style-image: url("sqpurple.gif");
}

ol {
  list-style: none;
  counter-reset: item;
}

li {
  counter-increment: item;
}

ol > li:before {
  font-size: 18px;
  line-height: 26px;
  content: counter(item) ".";
  color: var(--color-accent);
  font-weight: var(--txt-bold);
  text-align: right;

  margin-right: 10px;
  display: inline-block;
  width: 30px;
}

a,
a:hover {
  text-decoration: none;
}

a {
  color: var(--color-active-regular)
}

a:hover {
  color: var(--color-active-hover)
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 60px;
  /* padding-left: 1rem;
  padding-right: 1rem; */
}

/* .mgx-auto {
  margin-right: auto;
  margin-left: auto;
} */

.dot-separator {
  width: 6px;
  height: 6px;
  background-color: var(--color-grey-separator);
  border-radius: 50%;
}

.hidden {
  display: none !important;
}
