@import url(./basic.css);
@import url(./header.css);
@import url(./footer.css);

.contact {
  margin-top: var(--basic-space);
}

.contact .container {
  gap: var(--basic-space);
}

.contact-wrapper,
.contact-form {
  width: 100%;
  max-width: 510px;
}

/* contact-wrapper */

.contact-wrapper {
  gap: calc(var(--basic-space) / 2);
}

.contact hr {
  background-color: var(--color-grey-separator);
  height: 4px;
  border: unset;
}

.contact-info {
  gap: 15px;
}

.contact-address {
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: var(--color-main-regular);
}

.fb-contact {
  gap: 10px;
}

.fb-contact:hover span,
.fb-contact:hover svg path {
  color: var(--color-accent);
  fill: var(--color-accent);
}

.fb-contact span {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  text-transform: uppercase;
  color: var(--color-active-regular);
}

.contact-phone {
  color: var(--color-main-alt);
}

.contact-phone,
.contact-mail {
  font-size: 1.3rem;
  line-height: 1.6rem;
}

/* contact-form */

.contact-form {
  background-color: var(--color-grey-bg);
  gap: 30px;
  padding: 30px;
  border-radius: 12px;
}

.contact-title {
  font-size: 1.9em;
  line-height: 2.3rem;
}

.contact-input {
  border: 1px solid var(--color-white);
  border-radius: 8px;
  color: var(--color-black);
  padding: 15px;
}
.contact-input:focus {
  outline: none;
  border-color: var(--color-active-regular);
}
.contact-input:invalid {
  color: #ff0000;
  border-color: #ff0000;
}

textarea.contact-input {
  height: 130px;
}

.contact-form h3 {
  font-size: 0.9rem;
  line-height: 0.7rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-grey-text);
}

.contact-button {
  background-color: var(--color-active-regular);
  color: var(--color-white);
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border: unset;
  border-radius: 12px;
  padding: 18px 0;
  font-weight: 700;
}
.contact-button:hover {
  background-color: var(--color-active-hover);
}
.contact-button:active {
  background-color: var(--color-active-active);
}
