.footer {
  background-color: var(--color-grey-bg);
  margin-top: var(--basic-space);
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer .container {
  row-gap: 21px;
}

.footer .address {
  gap: 10px;
}

.footer .address-name {
  color: var(--color-main-regular);
}

.address-link {
  font-weight: var(--txt-bold);
  font-size: 0.75rem;
  line-height: 1.7rem;
  text-transform: uppercase;
}

.footer .rights {
  color: var(--color-grey-text);
}

.footer .info {
  gap: 10px;
}

.fb-footer:hover svg path {
  fill: var(--color-accent);
}

.footer .phone {
  color: var(--color-main-regular);
  font-weight: var(--txt-bold);
}

.footer-contact {
  font-weight: var(--txt-bold);
}

.footer-contact:hover {
  color: var(--color-accent);
}
