.header {
  padding-top: 50px;
}

.header .container {
  row-gap: 16px;
}

.header .logo {
  grid-area: 1 / 1 / span 2;
  gap: 4px;
}

.logo-assets {
  padding-top: 21px;
}

.logo .page {
  font-size: 2.25rem;
  line-height: 1.7rem;
  color: var(--color-main-regular);
}

.header .info {
  gap: 6px;
}

.lang {
  font-weight: var(--txt-bold);
  font-size: 0.75rem;
  line-height: 0.6rem;
  color: var(--color-grey-text);

  padding: 5px 7px;
  border-radius: 8px;
}

.lang-check {
  display: none;
}

.lang:hover {
  background-color: var(--color-grey-bg);
}

.lang-check:checked + .lang {
  background-color: var(--color-accent);
  color: var(--color-white);
}

.header .address {
  color: var(--color-grey-text);
  line-height: 0.7rem;
}

.header .phone {
  font-weight: var(--txt-bold);
  line-height: 0.7rem;
  color: var(--color-grey-text);
}

.fb-header:hover svg path {
  fill: var(--color-accent);
}

/* nav-bar */

.burger {
  display: none;

  width: 30px;
  height: 30px;
  position: relative;
}

.burger-check {
  display: none;

  grid-area: 2 / 2;
  width: 25px;
  height: 25px;
  justify-self: end;
  z-index: 5;
  opacity: 0;
}

.burger span {
  display: none;

  width: 25px;
  height: 2px;
  background-color: var(--color-main-regular);
  position: absolute;
  left: 5px;
  transition: all 0.2s linear;
  opacity: 1;
}

/* nav */

.nav {
  font-weight: var(--txt-bold);

  gap: 15px;
  grid-column: 2;
  grid-row: 2;

  justify-self: end;
}

.nav-item {
  line-height: 1.2rem;
  padding-bottom: 5px;
  position: relative;
}

.nav-item::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;

  position: absolute;
  left: 50%;
  bottom: 0;

  background-color: var(--color-active-regular);
  transition: all 0.1s linear;
}

.nav-item:hover::after {
  left: 0;
  width: 100%;
}

.nav-item.active {
  color: var(--color-accent);
}

.nav-item.active::after {
  background-color: var(--color-accent);
  left: 0;
  width: 100%;
}
