/* desktop HD */

@media (min-width: 1920px) {
  :root {
    --container-wide: 1920px;
    --container-small: 1360px;
  }
  .wide {
    padding-right: 160px;
    padding-left: 160px;
  }

  /* contact */

  .contact-wrapper, .contact-form {
    max-width: 650px;
  }
}

/* container-small */

@media (max-width: 1200px) {
  .small {
    max-width: var(--container-wide);
    padding-right: var(--basic-space);
    padding-left: var(--basic-space);
  }
}

/* tablet HD */

@media (max-width: 1024px) {
  :root {
    --container-wide: 1024px;
  }
  .team-title {
    max-width: 664px;
    margin: 0 auto;
  }
}

/* tablet SD */

@media (max-width: 900px) {
  :root {
    --container-wide: 768px;
  }

  /* header */

  .header .container {
    grid-template-columns: auto;
    row-gap: 30px;
  }
  .header .info {
    grid-area: 1 / 1;
  }
  .header .logo {
    grid-area: 2 / 1;
  }
  .header .nav {
    grid-area: 3 / 1;
    justify-self: start;
  }

  /* footer */

  .footer .container {
    grid-template-columns: auto;
    row-gap: 25px;
    justify-content: center;
  }
  .footer .rights {
    grid-row: 3;
    text-align: center;
  }

  /* team */

  .team .members {
    grid-template-columns: repeat(2, 1fr);
  }

  /* contact */
  
  .contact .container {
    flex-direction: column;
  }
  .contact-wrapper, .contact-form {
    max-width: 100%;
  }
}

/* mobile */

@media (max-width: 602px) {
  :root {
    --container-wide: 375px;
    --basic-space: 30px;
  }

  .dot-separator,
  .fb-header,
  .header .address,
  .nav-item::after {
    display: none;
  }

  .small {
    max-width: 100%;
  }

  /* header */

  .header {
    padding-top: 0px;
  }
  .header .container {
    grid-template-columns: auto auto;
    align-items: center;
    row-gap: 0px;
    padding: 0 15px;
    max-width: 100%;
  }
  .header .info {
    background-color: var(--color-grey-bg);
    margin: 0 -15px;
    padding: 10px 1rem;

    justify-content: space-between;
    grid-column: span 2;
  }
  .header .logo {
    align-items: center;
  }
  .header .slash {
    width: 12px;
    height: 26px;
  }
  .header .logo-assets svg {
    width: 70px;
    height: 32px;
  }
  .header .logo-assets {
    padding-top: 15px;
  }
  .header .page {
    font-size: 1.25rem;
  }
  .header .burger {
    display: initial;
    grid-area: 2 / 2;
    justify-self: end;
  }

  /* nav-bar */

  .nav {
    display: flex;
    flex-direction: column;

    background-color: var(--color-white);

    gap: 15px;
    padding: 64px 12px 12px 12px;
    position: fixed;
    inset: 45px 0 0 0;
    z-index: 2;

    transition: all 0.15s linear;
    transform: translateY(100vh);
  }
  .nav-item {
    width: 100%;
    max-width: 335px;
    padding: 7px 0;

    text-align: center;
    font-size: 1.5rem;
    line-height: 1.82rem;

    background-color: var(--color-grey-bg);
    border-radius: 12px;
  }

  .burger {
    display: initial;
  }

  /* footer */

  .footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0;
  }
  .footer .address {
    display: flex;
    flex-direction: column;
  }
  .footer .info {
    display: flex;
    flex-direction: column;
  }
  .footer .rights {
    order: 3;
  }

  /* team */

  .team .members {
    grid-template-columns: repeat(1, 1fr);
  }
  .team .members img {
    height: 300px;
  }
  .team .team-title {
    font-size: 30px;
    line-height: 2.3rem;
  }
}
