/* desktop HD */
@media (min-width: 1920px) {
  .container {
    max-width: var(--container-desktop-hd);
    padding: 0 160px;
  }
  .team .team-title {
    max-width: 1360px;
  }
}

/* tablet SD */
@media (max-width: 880px) {
  .container {
    max-width: var(--container-tablet-sd);
  }
  .header .container {
    grid-template-columns: auto;
    row-gap: 30px;
  }
  .header .info {
    grid-area: 1 / 1;
  }
  .header .logo {
    grid-area: 2 / 1;
  }
  .header .nav {
    grid-area: 3 / 1;
    justify-self: start;
  }
  .team .members {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer .container {
    grid-template-columns: auto;
    row-gap: 25px;
    justify-content: center;
  }
  .footer .rights {
    grid-row: 3;
    text-align: center;
  }
}

/* mobile */
@media (max-width: 602px) {
  .dot-separator {
    display: none;
  }

  /* header */
  .fb-header {
    display: none;
  }
  .header .address {
    display: none;
  }
  .header .nav {
    display: none;

    flex-direction: column;
    gap: 15px;
    padding: 100px 25px 25px 25px;
    background-color: rgba(0, 0, 0, 0.75);
    color: var(--color-white);
    position: fixed;
    inset: 0;
    z-index: 1;
  }
  .header .nav-item {
    color: var(--color-white);
  }

  .header {
    padding-top: 0px;
  }
  .header .container {
    grid-template-columns: auto auto;
    align-items: center;
    row-gap: 0px;
    padding: 10px 15px;
  }
  .header .info {
    background-color: var(--color-grey-bg);

    justify-content: space-between;
    grid-column: span 2;
  }
  .header .logo {
    align-items: center;
  }
  .header .slash {
    width: 12px;
    height: 26px;
  }
  .header .logo-assets svg {
    width: 70px;
    height: 32px;
  }
  .header .logo-assets {
    padding-top: 15px;
  }
  .header .page {
    font-size: 20px;
  }
  .header .burger {
    display: initial;
    grid-area: 2 / 2;
    justify-self: end;
  }

  /* nav-bar */

  .burger {
    display: initial;
  }
  .burger-check {
    display: initial;
  }
  .burger span {
    display: block;
  }

  .burger span:first-child {
    top: 4px;
  }
  .burger span:nth-child(2),
  .burger span:nth-child(3) {
    top: 14px;
  }
  .burger span:last-child {
    top: 24px;
  }

  .burger-check:checked + .burger span:first-child {
    top: 0;
    opacity: 0;
  }
  .burger-check:checked + .burger span:nth-child(2) {
    transform: rotate(45deg);
  }
  .burger-check:checked + .burger span:nth-child(3) {
    transform: rotate(-45deg);
  }
  .burger-check:checked + .burger span:last-child {
    top: 30px;
    opacity: 0;
  }

  .burger-check:checked ~ .nav {
    display: flex;
  }

  /* footer */
  .footer {
    padding: 30px;
  }
  .footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  .footer .address {
    display: flex;
    flex-direction: column;
  }
  .footer .info {
    display: flex;
    flex-direction: column;
  }
  .footer .rights {
    order: 3;
  }

  /* team */
  .team {
    margin-top: 30px;
  }
  .team .container {
    padding: 0 30px;
  }
  .team .members {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
    margin-top: 30px;
  }
  .team .members img {
    height: 300px;
  }
  .team .team-title {
    font-size: 30px;
  }
}
