@import url(./basic.css);

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}
.bold {
  font-weight: 700;
}
.btn {
  display: inline-block;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: all 0.1s linear;
}
.btn.btn-default {
  color: #fff;
  font-size: 1.1rem;
  background-color: var(--color-green);
}
.btn.btn-default:hover {
  background-color: var(--bg-light-gray);
  color: var(--color-green);
}
.ff-bitter {
  font-family: var(--ff-bitter);
}
.view-more {
  margin-top: 74px;
  gap: 4px;
}

/*---header-----------------------------------*/

.header {
  box-shadow: 0px 1px 8px rgba(83, 109, 122, 0.29);
  margin-bottom: 60px;
}
.header .container {
  padding-top: 15px;
  padding-bottom: 15px;
}
.nav-item {
  gap: 6px;
}
.nav {
  gap: 40px;
}
.sign-up {
  gap: 12px;
}

/*---intro-section-----------------------------------*/

.intro {
  background-color: var(--bg-dark-gray);
  padding: 50px;

  gap: 50px;
}
.mxw-500 {
  max-width: 500px;
}
.intro .section-title {
  color: var(--color-green);
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.intro .section-description {
  font-size: 3.3rem;
  margin-bottom: 22px;
  line-height: 3.6rem;
}
.intro .section-about {
  font-size: 1.2rem;
  margin-bottom: 25px;
  line-height: 1.6rem;
}
.intro .btn {
  padding: 15px;
}

/*---blog-section-----------------------------------*/

.blog .section-title {
  font-size: 2.7rem;
  line-height: 2rem;
  font-weight: 400;

  padding-top: 77px;
  padding-bottom: 33px;
}
.blog .content {
  gap: 40px;
}
.content-right {
  gap: 11px;
}
.content-right .img {
  max-width: 555px;
}
.blog .section-description {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.8rem;
}
.blog .section-about {
  font-size: 1.1rem;
}
.content-left {
  gap: 20px;
}
.content-left .img {
  max-width: 245px;
}
.blog-item {
  gap: 15px;
}
.blog-item-description {
  font-size: 1.25rem;
  line-height: 1.3rem;
}
