.team {
  margin-top: 65px;
  margin-bottom: 60px;
}

.team-title {
  max-width: 1080px;
}

.members {
  margin-top: 60px;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 60px;
  row-gap: 60px;
}

.card:hover .card-title {
  color: var(--color-accent)
}

.card:hover svg path {
  stroke: var(--color-accent)
}

.card img {
  border-radius: 12px;
  margin-bottom: 15px;
}

.card-content {
  grid-template-columns: auto auto;
  justify-content: space-between;
  row-gap: 5px;  
}

.card-description {
  font-size: 14px;
  line-height: 22px;
  color: var(--color-grey-text);
}

.arrow-button {
  justify-content: center;
  grid-row: span 2;

  width: 32px;
  height: 32px;
  border-radius: 50%;

  background-color: var(--color-grey-bg);
}
